# Les variables et les types de variables

## Les variables

En Python, la déclaration d'une variable et son initialisation (c'est-à-dire la première valeur que l'on va stocker dedans) se font en même temps.

### Déclarer une variable

In [4]:
nombre_apprenants = 7
print(type(nombre_apprenants))

<class 'int'>

Python a « compris » que la variable était un entier. On dit que Python est un langage au typage dynamique.
Python a alloué (réservé) l'espace en mémoire pour y accueillir un entier. Chaque type de variable prend plus ou moins d'espace en mémoire. Python a aussi fait en sorte qu'on puisse retrouver la variable sous le nom x.
Enfin, Python a assigné la valeur 7 à la variable nombre_apprenants.

In [3]:
formateur = "Benjamin"
print(type(formateur))
pi = 3.14
print(type(pi))

<class 'str'>
<class 'float'>
Antoine
Antoine
Antoine
Patrick

In [5]:
# double déclaration
apprenant = eleve = "Antoine"
print(eleve)
print(apprenant)
apprenant = "Patrick"
print(eleve)
print(apprenant)

Antoine
Antoine
Antoine
Patrick

Python reconnaît certains types de variable automatiquement (entier, float). Par contre, pour une chaîne de caractères, il faut l'entourer de guillemets (doubles, simples, voire trois guillemets successifs doubles ou simples) afin d'indiquer à Python le début et la fin de la chaîne de caractères.

En Python, comme dans la plupart des langages de programmation, c'est le point qui est utilisé comme séparateur décimal. Ainsi, 3.14 est un nombre reconnu comme un float en Python alors que ce n'est pas le cas de 3,14

### Afficher une variable

In [4]:
# affichage d'une variable
print(formateur)
# combinaison de deux variables string
print("apprenant:" + apprenant)
# combinaison d'une variable string et int
print("nombre_apprenants:",  nombre_apprenants)

# commentaire avec l'attribut format
print( "{} a {} dans ma formation, dont:  {}".format(formateur,nombre_apprenants,apprenant))

# commentaires avec les f-strings
print( f"{formateur} a {nombre_apprenants} dans ma formation, dont:  {apprenant}")

print (f"{formateur=}")

Charles
apprenant:Patrick
nombre_apprenants: 12
Charles a 12 dans ma formation, dont:  Patrick
Charles a 12 dans ma formation, dont:  Patrick
formateur='Charles'

### Modifier une variable

In [15]:
apprenant = eleve = "Antoine"
eleve = "Denis"
nombre_apprenants = nombre_apprenants + 2
nombre_apprenants += 2

print("nombre_apprenants: ", nombre_apprenants)
print("apprenant: ", apprenant)
print("eleve: ", eleve)

eleve = 7
print(eleve)

nombre_apprenants:  20
apprenant:  Antoine
eleve:  Denis
7

In [13]:
#permutation
eleve,apprenant = apprenant,eleve

print("apprenant: ", apprenant)
print("eleve: ", eleve)

apprenant:  Denis
eleve:  Antoine

### Supprimer une variable

In [16]:
del apprenants

### Nommer une variable avec la Pep-8

- Mettez un espace avant et après le signe égal
   - apprenant = "Charles" et non apprenant="Charles"
- Utilisez des noms descriptifs dans votre code.
   - exemple: Au lieu de  quantite  (ou pire,qte), ajoutez des détails :quantite_en_stock,solde_actuel, etc.
- Utilisez des mots complets.
   - exemple,revenu_annuelest plus clair querev_annuel.
- Suivez une convention d’appellation commune.
   - le snake case : des noms composés de plusieurs mots séparés par des tirets bas(_)
      - exemple nombre_de_chats,  reponse_finale  ,  le_meilleur_developpeur_python_du_monde, etc.
   - commencez avec une lettre minuscule (surtout pas par un nombre)
   - Utilisez uniquement des caractères alphanumériques et des tirets bas... et donc pas d'accents !
- N’oubliez pas que les noms de variables sont sensibles à la casse.
   - age,  Age  et  AGE  sont trois variables différentes.

### S'exercer à manipuler les variables

**`Exercice`**: créez l'état civil de votre voisin 
- déclarer les variables nom, prénom et deuxième prénom puis une variable nom complet à l'aide des trois précédentes
- déclarer les variables année actuelle et date de naissance puis créer la variable âge à l'aide des deux pécédentes
- remplacer la valeur de la variable nom par celle de nom complet puis supprimer la variable nom complet

In [1]:
nom = 'Tardy'
prenom = 'Benjamin'
deuxieme_prenom = 'Clément'

In [2]:
nom_complet = nom + ' ' + prenom + ' ' + deuxieme_prenom

In [3]:
annee_ac

'Tardy Benjamin Clément'

## Les types primitifs de variable

Les types primitifs de Python sont :

- Entier (int)
- Flottant (float)
- Booléen (bool)
- Chaîne de caractères (str)

In [8]:
# Les "integers", ou nombres entiers en français
nombre_apprentants = 7
print(type(nombre_apprentants), nombre_apprentants)

<class 'int'> 7

In [9]:
# Les "floats", ou nombres à virgule en français
age_moyen_promo = 25.0
print(str(type(age_moyen_promo)) + str(age_moyen_promo))

<class 'float'>25.0

In [10]:
# Les "strings" (str), ou chaines de caractères en français
apprenant = "Charles"
print("La variable apprenant est de type " + str(type(apprenant))+ " et prend comme valeur " + str(apprenant))

La variable apprenant est de type <class 'str'> et prend comme valeur Charles

In [11]:
# Les "Booléens" (bool), ou booléen en français, c'est à dire vrai ou faux
est_ce_que_1_plus_1_egale_2 = 1 + 1 == 2

print("La variable est_ce_que_1_plus_1_egale_2 est de type {} et prend comme valeur {}".format(type(est_ce_que_1_plus_1_egale_2),est_ce_que_1_plus_1_egale_2))

La variable est_ce_que_1_plus_1_egale_2 est de type <class 'bool'> et prend comme valeur True

In [12]:
a = 8
b = 7

a == b

False

## Les integers et les floats en détail

### Opérations sur les integers et les floats

In [23]:
x = 12.5
y = 3

#la somme de x et y (x plus y).
somme = x + y   

#la différence entre x et y 
difference = x - y 

#le produit de x et y
produit = x * y 

# le quotient de x et y (x divisé par y).
quotient = x / y 
print(quotient)

# le quotient de x et y sans reste.
quotient_sans_reste = x // y 
print(quotient_sans_reste)

# le reste de x divisé par y.
reste = x % y  

# x à la puissance y
puissance = x**y

4.166666666666667
4.0

**`Exercice 1`**: Quelle est la valeur et le type de "truc"? (de tête)

In [13]:
x = 24
y = 4.5

In [14]:
truc = str(x == (( x // y ) * y) + (x % y)) 
print(type(truc),truc)

<class 'str'> True

**`Exercice 2`**: Add parentheses to the following expression so that it evaluates to 1.

In [15]:
print( (5 - 3) // 2)

1

**`Exercice 3`**: Add parentheses to the following expression so that it evaluates to 0.

In [18]:
print(8 - 3 * 2 - (1 + 1))

0

**`Exercice 4`**: 
Alice, Bob and Carol have agreed to pool their Halloween candy and split it evenly among themselves. For the sake of their friendship, any candies left over will be smashed. For example, if they collectively bring home 91 candies, they'll take 30 each and smash 1.

Write an arithmetic expression below to calculate how many candies they must smash for a given haul.

In [8]:
# Variables representing the number of candies collected by alice, bob, and carol
alice_candies = 121
bob_candies = 77
carol_candies = 109

# Your code goes here! Replace the right-hand side of this assignment with an expression
# involving alice_candies, bob_candies, and carol_candies
(alice_candies +  bob_candies +  carol_candies) % ((alice_candies +  bob_candies +  carol_candies) //  3)

1

In [9]:
total_candies = alice_candies +  bob_candies +  carol_candies
num_friends = 3
candies_each = total_candies // num_friends
candies_smashed = total_candies % num_friends

In [10]:
candies_smashed

1

### Fonctions utiles liées aux integers ou aux float

In [75]:
# Valeur absolue de x
abs(x)

# obtenir l'arrondi d'un float
round(x,(nb_digits))

# Convert an object to integer
s = "8"
s_as_an_integer = int(s)

# Convert an object to float

s_as_a_float = float(s)

Plus de méthodes dans la documentation: https://docs.python.org/3/library/stdtypes.html

## Les strings en détail

### Les astuces concernant les strings

In [ ]:
# Pour utiliser le symbole ` dans une string il faut écrire \``	
a_string = "J'aime \"le\" Python!"
print(a_string)
a_string = "comme dit le poète \"slkdfnsklfdn\""

# Je peux également utiliser les triples guillements
the_same_string = """J'aime 
le Python"""

# Pour sauter une ligne \n
a_string_with_a_space =	"a line \n to an another"

print(a_string, the_same_string, a_string_with_a_space)

In [41]:
n = 2
the_string = "string"

# Renvoie le n ème élément d'une liste 
print(the_string[n]) 

# Renvoie le nombre de caractère dans la string
len(the_string)

r

6

### Opération sur les strings (un peu étonnant certes)

In [21]:
chaine = "Salut"
print(chaine)
print(chaine + " Python")
print(chaine * 3)

Salut
Salut Python
SalutSalutSalut

Vous observez que les opérateurs + et * se comportent différemment s'il s'agit d'entiers ou de chaînes de caractères : 2 + 2 est une addition alors que "2" + "2" est une concaténation. On appelle ce comportement redéfinition des opérateurs.

### Opérations illicites

In [23]:
'toto' * 1.3

TypeError: can't multiply sequence by non-int of type 'float'

In [24]:
'toto' + 2

TypeError: can only concatenate str (not "int") to str

### Les méthodes de la classe str

In [65]:
my_string = "Quelle belle journée belle journée"

# Mettre tout en minuscule
lower_string = my_string.lower()

# Mettre tout en majuscule
upper_string = my_string.upper()

# Mettre une majuscule au début
capitalized_string = my_string.capitalize()

# Remplacez une expression
replaced_string = my_string.replace("journée", "soirée")

# Cherchez un bout de la chaine
emplacement_de_belle = my_string.find("belle")

# Compte le nombre de fois ou apparait un caractère
count_string = my_string.count("l")

# Diviser une chaine de caractères pour créer une liste
splited_string = my_string.split(" ")

# Remplace les {} par la valeur définie dans format
my_string = "Quelle {} et {} journée".format("belle", "bonne")
my_string = "Quelle {adjectif_1} et {adjectif_2} journée".format(adjectif_2="belle", adjectif_1="bonne")

**`Exercice`**: travaillez sur la définition de python 
- remplacez python par lovely python partout dans la chaine de caractère suivante
- Affichez la chaine suivante en une seule chaine de caractères en sautant une ligne entre chaque phrase et en faisant commencer chaque phrase par une majuscule.
    
indice: 
- On calcule le nombre d'élément d'une liste de la meme manière qu'on calcule la longueur d'une chaine de caratère
- On accède au nème éléments d'une liste de la même manière qu'on accède nème caractère d'une chaine de caractères.

In [11]:
python_definition = "python is an interpreted high-level general-purpose programming language. its design philosophy emphasizes code readability with its use of significant indentation. its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects."

In [12]:
lovely_python_definition = python_definition.replace("python", "lovely python")

splitted_definition = lovely_python_definition.split(". ")

new_definition = ""
for sentence in splitted_definition:
    new_definition += sentence.capitalize() + ".\n"

print(new_definition)

Lovely python is an interpreted high-level general-purpose programming language.
Its design philosophy emphasizes code readability with its use of significant indentation.
Its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects..

In [18]:
print(splitted_definition[0])
print(splitted_definition[1])
print(splitted_definition[2])

lovely python is an interpreted high-level general-purpose programming language
its design philosophy emphasizes code readability with its use of significant indentation
its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects.

IndexError: list index out of range

## Les booléens en détail

In [19]:
x = 8
y = 9
z = [7 ,8 ]

In [20]:
type(z)

list

In [25]:
x <= y

True

In [27]:
type(z) is int

False

In [29]:
isinstance(x, int)

True

In [31]:
x not in z

False

In [32]:
t = True
f = False

In [104]:

"""Les booléens sont souvent le résultat d'une comparaison """

print( x == y ) #equal

print( x != y ) # not equal

print( x < y ) #strictly less than

print( x <= y ) #less than or equal

print( x > y ) #strictly greater than

print( x >= y ) #greater than or equal

""" ou le résultat d'affirmation """

print( type(x) is int ) # être

print( type(x) is not str ) # ou ne pas être

print (isinstance(x,str))

print( x in z) # appartenir

print( y not in z ) # ou ne pas appartenir

""" enfin ils peuvent être combiné grâve à des opérateurs logique """
t = True
f = False

print( t and f) # s'écrit aussi &
print( t or f) # s'écrit aussi | 
print( not t)
print( not f)

False
True
True
True
False
False
True
True
False
True
True
False
True
False
True

In [35]:
if 0:
    print("hello")

## Conversion de type

Voici les conversions de type en Python :

- Conversion d'une valeur en entier : int(valeur)
- Conversion d'une valeur en flottant : float(valeur)
- Conversion d'une valeur en chaîne de caractères : str(valeur)
- Conversion d'une valeur en booléen : bool(valeur)

Notez que pour la conversion en booléen, la valeur résultante dépend de la valeur de la variable d'origine :

- Si la valeur d'origine est égale à 0, False ou vide, la valeur booléenne sera False.
- Dans tous les autres cas, la valeur booléenne sera True.

In [27]:
valeur = "123"
entier = int(valeur)
print(type(entier))

<class 'int'>

In [28]:
flottant = 3.14
entier = int(flottant)
print(type(entier))

<class 'int'>

In [29]:
entier = 123
chaine = str(entier)
print(type(chaine))

<class 'str'>

In [30]:
entier = 0
booleen = bool(entier)
print(booleen) 

entier = 123
booleen = bool(entier)
print(booleen)

False
True

Notez que pour les conversions d'un flottant en chaîne de caractères ou d'un booléen, le processus est similaire à celui des exemples ci-dessus.

**`Exercice`**: Conversion de températures
- Créez une variable temp_celsius qui contient une température en degrés Celsius sous forme de nombre réel.

- Utilisez une opération arithmétique pour convertir cette température en degrés Fahrenheit.

- Stockez le résultat dans une variable appelée temp_fahrenheit.

- Utilisez une opération arithmétique pour convertir la température en degrés Kelvin.

- Stockez le résultat dans une variable appelée temp_kelvin.

- Utilisez des chaînes de caractères formatées pour afficher la température en degrés Celsius, Fahrenheit et Kelvin avec deux décimales après la virgule.

In [1]:
# 1. Température en degrés Celsius
temp_celsius = 25.0

# 2. Conversion en degrés Fahrenheit
temp_fahrenheit = (temp_celsius * 9/5) + 32

# 3. Conversion en degrés Kelvin
temp_kelvin = temp_celsius + 273.15

# 4. Affichage des températures
print(f"{temp_celsius:.2f} °C = {temp_fahrenheit:.2f} °F = {temp_kelvin:.2f} K")

25.00 °C = 77.00 °F = 298.15 K

**`Exercice`**:  Conversion de types
Créez une variable nombre qui contient un nombre entier.

Convertissez ce nombre en chaîne de caractères et stockez le résultat dans une variable chaine.

Affichez chaine et sa longueur à l'aide de la fonction len().

Convertissez chaine en nombre à virgule flottante et stockez le résultat dans une variable nombre_flottant.

Ajoutez nombre à nombre_flottant et stockez le résultat dans une variable somme.

Affichez somme et son type.

In [3]:
# 1. Entier
nombre = 42

# 2. Conversion en chaîne de caractères
chaine = str(nombre)

# 3. Affichage de la chaîne et de sa longueur
print(f"Chaîne : {chaine}")
print(f"Longueur : {len(chaine)}")

# 4. Conversion en nombre flottant
nombre_flottant = float(chaine)

# 5. Addition de nombre et nombre_flottant
somme = nombre + nombre_flottant

# 6. Affichage de la somme et de son type
print(f"Somme : {somme}")
print(f"Type : {type(somme)}")

Chaîne : 42
Longueur : 2
Somme : 84.0
Type : <class 'float'>